{% extends "base.html" %}

{% block javascript %}
{{ block.super }}

<script>







	$( document ).ready(function() {


/**************************************
*****    Gobal Vars ********
**************************************/
var lastAnalsisId = -1;

var data_loader_timer = null;



/**************************************
*****        Service Functions ********
**************************************/

//This function will manage calling an function with a ID every second, once it gets a result it will stop that function from working. It will run ever second to manage the registered functions

var lastAnalsisId = -1;

dataServiceInterval = null;
dataServiceResult = false;
lastResult = null;

latestImageCapture = -1;

dataRetrivelService = setInterval(function(){

	if(lastAnalsisId != -1 && dataServiceInterval == null)
	{
		//we are going to start the service

		dataServiceInterval = setInterval(data_service,1000)

	}
	else if(dataServiceResult)
	{

		clearInterval(dataServiceInterval);

		lastAnalsisId = -1;
		dataServiceResult = false;
		dataServiceInterval = null;

	}


	//lets see if the image has been captured yet

	if (latestImageCapture == -1)
	{
		$("#video_update").text("Not Captured");
	}
	else
	{
		//we update the display to the latest captured
		$("#video_update").text("" + Math.floor((Date.now() - latestImageCapture)/1000)+ "s ago");
	}


},500);

function data_service()
{

$.ajax({
        url: '/api/capture/data?subid=' + lastAnalsisId,
        type: 'get',
        success: function(json) {

        	
        	$('#log').append(JSON.stringify(json) + "<br>");


        	if(json['success'])
        	{
        		dataServiceResult = true;
        		lastResult = json;
        		//enable our annotaion image
        		$("#analysisInput").removeAttr("disabled");
        		$("#analysisInput").attr('checked', true);
;


        		//load the new image for annoations
        		$('#log').append("Updating Image to " + json['images']['annotated_image'] + "<br>");
        		$('#image_capture').attr("src", json['images']['annotated_image']);
        	}


        }});


}

/**************************************
*****  Click Functions         ********
**************************************/

$("#buttonCapture").click(function() {

latestImageCapture = Date.now();

});

$("#analysisInput").change(function() {

	if($("#analysisInput").is(":checked"))
	{
		$('#image_capture').attr("src", lastResult['images']['annotated_image']);

	}
	else
	{
		$('#image_capture').attr("src", "/api/capture/latest");
	}




});

$("#buttonAnalysis").click(function() {

$.ajax({
        url: '/api/capture/analysis',
        type: 'get',
        success: function(json) {
        	$('#log').text("");
        	$('#log').append(JSON.stringify(json) + "<br>");
        	lastAnalsisId = json['subid'];



        }});



});

$("#buttonCapture").click(function() {

	$("#analysisInput").attr("disabled", "disabled");
	$("#analysisInput").removeAttr('checked');

	$('#image_capture').attr("src", "/api/capture/latest");
	console.log("Loading new image")


});

});


$("#capture").attr("src", "http://" + window.location.hostname + ":8090/camera.webm")




</script>



{% endblock %}


{% block content %}


<style>




#video_preview{
	width: 300px;
	height: 310px;
	float: left;
}

#control_buttons{
	width:300px;
	padding-left: 10px;
	float: right;
}

#capture_container{
	height:400px;
	width:600px;
}
#log{
	width:300px;
	scroll-behavior: smooth;
	height: 200px;
	font-size: 8px;
	overflow: scroll;
}




</style>


<div id="capture_container">




	<div id="control_buttons">
		Control Camera Attributes: <br>
		<button id='buttonCapture' type="button" class="btn btn-primary">Capture</button> - Snap an image from the main camera <br>
		<button id='buttonAnalysis' type="button" class="btn btn-info">Analysis</button> - See what was in the last capture <br>
		<button id='buttonCalabrate' type="button" class="btn btn-info">Calabrate</button> - Update telescope position to last image captured <br>

		<div id='log'></div>
	</div>



	<div id="video_preview">
		Video Preview - Last Update <span id="video_update">N/A</span>
		<br>
		<div id="video_preview_image">


		<video width="320" height="240" src="" type="video/webm" controls=false id="capture" />

		<img id="image_capture" src="" height="300" width="300" />

		<div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" id="analysisInput" disabled=true>
  <label class="custom-control-label" for="analysisInput">Show Analysis Overlay</label>
</div>

	</div>




</div>



{% endblock %}

