{% extends "base.html" %}

{% block javascript %}
{{ block.super }}

<script>
let Keyboard = window.SimpleKeyboard.default;

let keyboard = new Keyboard({
  onChange: input => onChange(input),
  onKeyPress: button => onKeyPress(button),
  theme: "hg-theme-default myTheme1"
});


/**
 * Update simple-keyboard when input is changed directly
 */
document.querySelector(".form-control").addEventListener("input", event => {
  keyboard.setInput(event.target.value);
});

function onChange(input) {
  document.querySelector(".form-control").value = input;
  console.log("Input changed", input);
}

function onKeyPress(button) {
  console.log("Button pressed", button);


  if (button === "{shift}" || button === "{lock}") handleShift();
}

function handleShift() {
  let currentLayout = keyboard.options.layoutName;
  let shiftToggle = currentLayout === "default" ? "shift" : "default";

  keyboard.setOptions({
    layoutName: shiftToggle
  });
}


function grabGPS() {
    $.ajax({
        url: '/api/gps',
        type: 'get',
        success: function(data) {
        			if(data['lock_fixed'])
        			{
        				$('#location_badge').html("long: " + data['longitude'] + " - lat: " + data['latitude']);
        				$('#longitude').val(data['longitude']);
        				$("#latitude").val(data['latitude']);
        			}
        			else
        			{
        				$('#location_badge').html("Error Check GPS")
        			}
                   
                 }
    });
}


past_pk = "";



////////////Load Sessions

function load_session_table()
{
			$.ajax({
			url: '/api/session',
			type: 'get',
			success: function(data)
			{
				outhtml = "";
				current_pk = ""
				for( i = 0; i < data.length; i++)
				{

					outhtml += '<div id="sessions_row_' + data[i]['pk'] + '" onClick=\'session_click_handler("' + data[i]['pk'] +'");\'>Name: <span id="session_name">' +  data[i]['name'] +'</span><br>Date: <span id="session_date">' + data[i]['date'] + '</span><br>Location: <span id="session_loc">' + data[i]['loc_long'] + " " + data[i]['loc_lat']+'</span><hr></div>'
					if(data[i]['current'])
					{
						current_pk = data[i]['pk'];
					}
					
				}

				$("#sessions_container").html(outhtml);

				if(data.length >= 1)
				{
						session_click_handler(current_pk);

				}
			}
		});
}

$( document ).ready(function() {

	load_session_table();



	});



$('#save_new_session').click( function() {

	var data_post = {
    "name": $('#recipient-name').val(),
    "loc_long": $('#longitude').val(),
    "loc_lat": $('#latitude').val()
		};

	console.log(JSON.stringify(data_post));

	$.ajax({
		url: '/api/session/',
		type: 'post',
		dataType: "json",
		contentType:"application/json; charset=utf-8",
		data: JSON.stringify(data_post),
		success: function(data)
		{
			$('#newSession').modal('hide');
			load_session_table();


		}

	});
});

function session_click_handler(pk)
{
	$('#sessions_row_' + past_pk).removeClass('bg-light');
	past_pk = pk;
	$('#sessions_row_' + pk).addClass('bg-light');
	$.ajax({
		url: '/api/session/' + pk + '/',
		type: 'get',
		dataType: "json",
		success: function(data)
		{
			$("#detail_name").html(data['name']);
			$("#detail_date").html(data['date']);
			$('#detail_set').attr("onclick","setCurrent('" + data['pk'] + "');");
			$('#detail_delete').attr("onclick","deleteCurrent('" + data['pk'] + "');");
			if(data['current'])
			{
				$('#detail_current').html("True");
			}
			else
			{
				$('#detail_current').html("False");
			}
			

		}
	});


	$.ajax({
		url: '/api/session/' + pk + '/photos', 
		type: 'get', 
		dataType: "json", 
		success: function(data)
		{
			$('#detail_expose').html(data['exposure'].length);
			length_max = data['exposure'].length;
			if(data['exposure'].length > 10){
				length_max = 10;
			}
			output = ""
			for(var i = 0; i < length_max; i++)
			{
				
				output += '<img id="detail_photo_0" class="thumbnail" src="/api/photo/"' + data['exposure'][i]['token'] + '"/">';
			}

			$("#detail_photo_row").html(output);




		}
	})
}




function setCurrent(pk)
{
		$.ajax({
		url: '/api/session/' + pk + '/setcurrent',
		type: 'get',
		dataType: "json",
		success: function(data)
		{
			$("#detail_current").html('True');
			

		}
	});

}

function deleteCurrent(pk)
{

		$.ajax({
		url: '/api/session/' + pk + '/',
		type: 'delete',
		dataType: "json",
		success: function(data)
		{
			session_click_handler(past_pk);
			load_session_table();

		}
	});
}

</script>


{% endblock %}


{% block content %}

<style>
#container{
	height:400px;
	width:650px;
}



#sessions_container{
	float: left;
	width:300px;
	height: 400px;
	scroll-behavior: smooth;
	overflow: scroll;
}

#sessions_details{
	float: right;
	width:300px;
}

#detail_photo_container{
	height:300px;
}


.thumbnail{
	width:50px;
	height:50px;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

/*
  Theme: myTheme1
*/
.simple-keyboard.myTheme1 {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.simple-keyboard.myTheme1 .hg-button {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.simple-keyboard.myTheme1 .hg-button:active {
  background: #1c4995;
  color: white;
}

#root .simple-keyboard.myTheme1 + .simple-keyboard-preview {
  background: #1c4995;
}


</style>

<div class="modal" tabindex="-1" id="newSession" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Session</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Name:</label>
            <input type="text"  class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Location:</label> <span id='location_badge' class="badge badge-success">Pending...</span>
            <input type="text" id="longitude" hidden=true value="0.0" />
            <input type="text" id="latitude" hidden=true value="0.0" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="save_new_session" type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <div class="simple-keyboard"></div>
      </div>
    </div>
  </div>
</div>



<div id='container'>
	<div id='sessions_container'>

		<div id='sessions_row'>
			Name: <span id="session_name"></span><br>
			Date: <span id="session_date"></span><br>
			Location: <span id="session_date"></span><br>
			Notes: <span id="session_date"></span>
			<hr>
		</div>






	</div>


	<div id='sessions_details'>
		Name: <span id='detail_name'></span><br>
		Date: <span id='detail_date'></span><br>
		Current: <span id='detail_current'></span><br>
		Number of Exposure Frames: <span id='detail_expose'></span> <br>
		Number of Dark Frames: <span id='detail_dark'></span> <br>
		<button id='detail_set' class="btn btn-primary">Set Current</button>
		<button id='detail_delete' class="btn btn-danger">Delete</button>
		<br><br>
		<div id="detail_photo_container">
			<div id="detail_photo_row">
				<img id="detail_photo_0" class="thumbnail" src="#">
			</div>
		</div>
		<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" id="newSessionButton" onclick="grabGPS()" data-target="#newSession">
  New Session
</button>
	</div>



</div>





{% endblock %}