{% extends "base.html" %}

{% block javascript %}
{{ block.super }}

<script>
let Keyboard = window.SimpleKeyboard.default;

let keyboard = new Keyboard({
  onChange: input => onChange(input),
  onKeyPress: button => onKeyPress(button),
  theme: "hg-theme-default myTheme1"
});


/**
 * Update simple-keyboard when input is changed directly
 */
document.querySelector(".form-control").addEventListener("input", event => {
  keyboard.setInput(event.target.value);
});

function onChange(input) {
  document.querySelector(".form-control").value = input;
  console.log("Input changed", input);
}

function onKeyPress(button) {
  console.log("Button pressed", button);


  if (button === "{shift}" || button === "{lock}") handleShift();
}

function handleShift() {
  let currentLayout = keyboard.options.layoutName;
  let shiftToggle = currentLayout === "default" ? "shift" : "default";

  keyboard.setOptions({
    layoutName: shiftToggle
  });
}


function grabGPS() {
    $.ajax({
        url: '/api/gps',
        type: 'get',
        success: function(data) {
        			if(data['lock_fixed'])
        			{
        				$('#location_badge').html("long: " + data['longitude'] + " - lat: " + data['latitude']);
        				$('#longitude').value = data['longitude'];
        				$("#latitude").value = data['latitude']
        			}
        			else
        			{
        				$('#location_badge').html("Error Check GPS")
        			}
                   
                 }
    });
}



$('#save_new_session').click( function() {

	var data_post = {
    "name": $('#recipient-name').val(),
    "loc_long": $('#longitude').val(),
    "loc_lat": $('#latitude').val()
		};

	console.log(JSON.stringify(data_post));

	$.ajax({
		url: '/api/session',
		type: 'post',
		dataType: "json",
		contentType:"application/json; charset=utf-8",
		data: JSON.stringify(data_post),
		success: function(data)
		{
			alert("done")
		}

	});
});



</script>


{% endblock %}


{% block content %}

<style>
#container{
	height:400px;
	width:650px;
}



#sessions_container{
	float: left;
	width:300px;
	height: 400px;
	scroll-behavior: smooth;
	overflow: scroll;
}

#sessions_details{
	float: right;
	width:300px;
}

#detail_photo_container{
	height:300px;
}


.thumbnail{
	width:50px;
	height:50px;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

/*
  Theme: myTheme1
*/
.simple-keyboard.myTheme1 {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.simple-keyboard.myTheme1 .hg-button {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.simple-keyboard.myTheme1 .hg-button:active {
  background: #1c4995;
  color: white;
}

#root .simple-keyboard.myTheme1 + .simple-keyboard-preview {
  background: #1c4995;
}


</style>

<div class="modal" tabindex="-1" id="newSession" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Session</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Name:</label>
            <input type="text"  class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Location:</label> <span id='location_badge' class="badge badge-success">Pending...</span>
            <input type="text" id="longitude" hidden=true value="0.0" />
            <input type="text" id="latitude" hidden=true value="0.0" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="save_new_session" type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <div class="simple-keyboard"></div>
      </div>
    </div>
  </div>
</div>



<div id='container'>
	<div id='sessions_container'>

		<div id='sessions_row'>
			Name: <span id="session_name"></span><br>
			Date: <span id="session_date"></span><br>
			Location: <span id="session_date"></span><br>
			Notes: <span id="session_date"></span>
			<hr>
		</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" id="newSessionButton" onclick="grabGPS()" data-target="#newSession">
  New Session
</button>



	</div>


	<div id='sessions_details'>
		Name: <span id='detail_name'></span><br>
		Date: <span id='detail_date'></span><br>
		Number of Exposure Frames: <span id='detail_expose'></span> <br>
		Number of Dark Frames: <span id='detail_dark'></span> <br>
		<button id='detail_set' class="btn btn-primary">Set Current</button>
		<button id='detail_delete' class="btn btn-danger">Delete</button>
		<br><br>
		<div id="detail_photo_container">
			<div id="detail_photo_row">
				<img class="thumbnail" src="#">
				<img class="thumbnail" src="#">
				<img class="thumbnail" src="#">
			</div>
		</div>
	</div>



</div>





{% endblock %}