{% extends "base.html" %}

{% block javascript %}
{{ block.super }}




{% endblock %}



{% block content %}
<style>
    #container {
			width		: 300px;
			height		: 300px;
			background-color: grey;
			overflow	: hidden;
			padding		: 0;
			margin		: 0;
			-webkit-user-select	: none;
			-moz-user-select	: none;
		}
</style>
<div id="container">
</div>
<div id="info">
    Touch the screen and move
			-
			works with mouse too as debug
    <br/>
    <span id="result">
    </span>
</div>
<script src="/static/js/joystick.js">
</script>
<script>
    console.log("touchscreen is", VirtualJoystick.touchScreenAvailable() ? "available" : "not available");



	function max(number)
	{
		if(Math.abs(number) > 9)
		{
			if(number < 0)
				return -9
			else
				return 9
		}
		return number;
	}
	direction = "alt"
	direction_value = 0
	flip = false

	// one on the right of the screen
	var joystick	= new VirtualJoystick({
		container	: document.getElementById("container"),
		mouseSupport	: true,
				stationaryBase	: true,
		baseX		: 150,
		baseY		: 150
	});
	joystick.addEventListener('touchStart', function(){
				console.log('down')
			})
			joystick.addEventListener('touchEnd', function(){
				direction = "alt"
				direction_value = 0
	data = {
		'axis': 'alt',
		'rate': 0
	};

				$.ajax({
  type: "POST",
  data: data,
  url: '/api/command/telescope/slew',
  success: function (data) {


}
});



					data = {
		'axis': 'az',
		'rate': 0
	};

				$.ajax({
  type: "POST",
  data: data,
  url: '/api/command/telescope/slew',
  success: function (data) {


}
});
			})


	setInterval(function(){

			

			if(Math.abs(joystick.deltaX()) > 20 && Math.abs(joystick.deltaX()) > Math.abs(joystick.deltaY()))
			{

				if(direction == "alt")
					flip = true

				direction = "az"
				direction_value = max(Math.ceil(joystick.deltaX() / (150 / 9)))
			}
			else if(Math.abs(joystick.deltaY()) > 20 && Math.abs(joystick.deltaY()) > Math.abs(joystick.deltaX()))
			{
				if(direction == "az")
					flip = true
				direction = "alt"
				direction_value = max(Math.ceil(joystick.deltaY() / (150 / 9)))
			}
			else
			{
				direction = "alt"
				direction_value = 0
			}



				var outputEl	= document.getElementById('result');
				outputEl.innerHTML	= '<b>Result:</b> '
					+ ' dx:'+joystick.deltaX()
					+ ' dy:'+joystick.deltaY()
					+ '<br> rest: ' + direction + "<br>"
					+ (joystick.right()	? ' right'	: '')
					+ (joystick.up()	? ' up'		: '')
					+ (joystick.left()	? ' left'	: '')
					+ (joystick.down()	? ' down' 	: '')	
			}, 1/30 * 1000);

setInterval(function(){


	if(flip)
	{

	data = {
		'axis': 'alt',
		'rate': 0
	};

				$.ajax({
  type: "POST",
  data: data,
  url: '/api/command/telescope/slew',
  success: function (data) {


}
});



					data = {
		'axis': 'az',
		'rate': 0
	};

				$.ajax({
  type: "POST",
  data: data,
  url: '/api/command/telescope/slew',
  success: function (data) {


}
});

				flip =false;




	}

	data = {
		'axis': direction,
		'rate': direction_value
	};



$.ajax({
  type: "POST",
  data: data,
  url: '/api/command/telescope/slew',
  success: function (data) {

  	




}
});

},200);
</script>
{% endblock %}
