{% extends "base.html" %}

{% block javascript %}
{{ block.super }}
<script src="/static/js/joystick.js"></script> 

<script>
		console.log("touchscreen is", VirtualJoystick.touchScreenAvailable() ? "available" : "not available");
	// 
	var joystick	= new VirtualJoystick({
		container	: document.body,
		strokeStyle	: 'cyan',
		limitStickTravel: true,
		stickRadius	: 120		
	});
	joystick.addEventListener('touchStartValidation', function(event){
		var touch	= event.changedTouches[0];
		if( touch.pageX < window.innerWidth/2 )	return false;
		return true
	});
	// one on the right of the screen
	var joystick	= new VirtualJoystick({
		container	: document.getElementById("joystick"),
		strokeStyle	: 'orange',
		limitStickTravel: true,
		mouseSupport	: true,
		stickRadius	: 0		
	});
	joystick.addEventListener('touchStartValidation', function(event){
		var touch	= event.changedTouches[0];
		if( touch.pageX >= window.innerWidth/2 )	return false;
		return true
	});
	joystick.addEventListener('touchStart', function(){
		console.log('fire')
	});
</script>

{% endblock %}



{% block content %}
<style>
		#container {
			width		: 100%;
			height		: 100%;
			overflow	: hidden;
			padding		: 0;
			margin		: 0;
			-webkit-user-select	: none;
			-moz-user-select	: none;
		}
		</style>

<div id="joystick" class="joystick"> </div>



{% endblock %}