{% extends "base.html" %}
{% block content %}
<div>
        System Utilities:
<form action="/api/command/power" method="post">
    <input type="hidden" value="0" name="param" />
    <input type="hidden" value="shutdown" name="command" />
    <input type="submit" value="Shutdown" />
</form>
<form action="/api/command/power" method="post">
    <input type="hidden" value="0" name="param" />
    <input type="hidden" value="restart" name="command" />
    <input type="submit" value="Restart" /> 
</form>
</div>






<script type="text/javascript">
$.ajax({
  dataType: 'json',
  url: '/api/gps',
  success: function (data) {
  console.log(data);
}
});
</script>

<div>

GPS Data: <br>
Fix: <span class='gps_fix'> </span> <br>
Longitude: <span class='gps_fix'> </span> <br> 
Lattidue: <span class='gps_fix'> </span> <br>


Sats Information:<br>
<div>
<ul class='sat_info'>
<li>Sat: None</li>
</ul>
</div>



</div>

{% endblock %}