{% extends "base.html" %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
	$( document ).ready(function() {




function updateGPS(data)
{

    if(data['lock_fixed']){
	  document.getElementById("gps_fix").innerHTML = data['lock_fixed'];
    
  document.getElementById("gps_long").innerHTML = data['longitude'];
  document.getElementById("gps_lat").innerHTML = data['latitude'];
  document.getElementById("gps_time").innerHTML = data['datetime'];

  var list = "";
  for(sat in data['satdata'])
  {
  	list += "<li> " + sat + " : PRN - " + data['satdata'][sat]['PRN'] +" el - " + data['satdata'][sat]['el'] + " used - " + data['satdata'][sat]['used'] + " ss - " + data['satdata'][sat]['ss'] + "</li>";
  }

  document.getElementById("sat_info").innerHTML = list;
}
else{
	document.getElementById("gps_fix").innerHTML = "No Lock, Check GPS";
}

}

function updateGPSRest()
{

$.ajax({
  dataType: 'json',
  url: '/api/gps',
  success: function (data) {

  	updateGPS(data);



}
});
}

window.setInterval(updateGPSRest,1000);

});
</script>

{% endblock %}


{% block content %}
<div>
        System Utilities:
<form action="/api/command/power" method="post">
    <input type="hidden" value="0" name="param" />
    <input type="hidden" value="shutdown" name="command" />
    <input type="submit" value="Shutdown" />
</form>
<form action="/api/command/power" method="post">
    <input type="hidden" value="0" name="param" />
    <input type="hidden" value="restart" name="command" />
    <input type="submit" value="Restart" /> 
</form>
</div>







<div>

GPS Data: <br>
Fix: <span id='gps_fix'> </span> <br>
Longitude: <span id='gps_long'> </span> <br> 
Lattidue: <span id='gps_lat'> </span> <br>
Time: <span id='gps_time'> </span><br>


Sats Information:<br>
<div>
<ul id='sat_info'>
<li>Sat: None</li>
</ul>
</div>



</div>

{% endblock %}