[Unit]
Description=Shutdown Monitor


[Service]
Environment=DISPLAY=:0.0
Type=simple
ExecStart=/bin/bash /data/pistargaze/pi/shutdown-watcher.sh
Restart=on-abort
User=root
Group=root

[Install]
WantedBy=graphical.target